# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Trained models
models/*.pkl
models/*.pt
models/*.pth
models/*.bin
models/*.safetensors
models/distilbert_liar_final/
models/distilbert_check/
models/distilbert_sanity_check/

# Dataset
dataset/

# VS Code
.vscode/