# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/
dist/

# Trained models
models/*.pkl
models/*.pt
models/*.pth
models/*.bin
models/*.safetensors
models/distilbert_liar_final/
models/distilbert_check/
models/distilbert_sanity_check/

# Dataset
dataset/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db