# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Trained models
models/*.pkl
models/*.pt
models/*.pth
models/*.bin

# Dataset
dataset/

# VS Code
.vscode/